@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-50: hsl(330, 100%, 98%);
    --rose-800: hsl(332, 51%, 32%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    color: var(--stone-600);
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 400;
}

.img-container {
    width: 37.5rem;
    height: 17.1rem;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.main-content {
    margin: 4.0rem 3.2rem;
}

.title-container h1 {
    font-family: 'Young Serif', serif;
    font-size: 4rem;
    line-height: 100%;
    margin-bottom: 2.4rem;
}

.preparation {
    margin: 3.2rem 0;
    background: var(--rose-50);
    border-radius: 12px;
    padding: 2.4rem;
}

.preparation h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 100%;
    color: var(--rose-800);
    margin-bottom: 1.6rem;
}

.preparation ul {
    margin-left: 2.4rem;
    color: var(--stone-600);
}

li::marker {
    color: var(--brown-800);
}

.preparation-items {
    padding-left: 1.6rem;
}

.preparation-items:not(:last-child) {
    margin-bottom: 0.8rem;
}

strong {
    font-weight: 700;
}

.ingredients {
    margin: 3.2rem 0;
}

h2 {
    font-family: 'Young Serif', serif;
    font-size: 2.8rem;
    line-height: 100%;
    color: var(--brown-800);
    margin-bottom: 2.4rem;
}

.ingredients ul {
    padding-left: 2.4rem;
}

.items {
    padding-left: 1.6rem;
}

li > span {
    display: inline-block;
    vertical-align: middle;
}

hr {
    margin: 3.2rem 0;
    color: var(--stone-150);
}

.instructions ol {
    padding-left: 2.4rem;
}

ol li::marker{
    font-weight: 700;
}

